<%= simple_form_for(@article, html: {class: "form-signin"}) do |f| %>
  <%= f.error_notification %>
 
 
    <%= f.input :title, required: true, label: false, placeholder: "Title", input_html: {class: "form-control"} %>
    <%= f.input :category, required: true, label: false, placeholder: "Category", input_html: {class: "form-control"} %>
    <%= f.input :content, required: true, label: false, placeholder: "Content", input_html: {class: "form-control", rows: 5} %>
    <br>
    
    <%= f.input :image %>
    
    <div class="checkbox text-center">
    <p>Current Issue</p>
    <%= f.input :current_issue, required: false, label: false %>
    </div>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
<% end %>